
<p>
  <%= link_to 'Country Codes', '/' %> ||

  
  <%= link_to 'Stats', '/stats' %> •
  <%= link_to 'About', 'https://github.com/worlddb/world.db.codes' %>

</p>

<p>
  <%= link_to 'World', '/' %>
   <span class='country-count'>
    (<%= Country.count %>)
   </span>  ›

<% Continent.order(:id).each_with_index do |continent,i| %>
   <% if i > 0 %> • <% end %>
   <%= link_to_continent( continent ) %>
   <span class='country-count'>
      (<%= continent.countries.count %>)
   </span>
<% end %>
<p>
